<div class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/task_manager_icon.png" width="60"  class="d-inline-block align-top ms-5" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="search-box ms-auto">
        <input
          type="text"
          class="search-txt"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          (ngModelChange)="search()"
          (keyup.enter)="enterSearch()"
          placeholder="Search..."
        />
        
      
        <a class="search-btn cursor" (click)="enterSearch()">
          <i class="fas fa-search"></i>
        </a>
      </div>
</nav>
              
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>

