
.notifications {
  position: fixed;
  top: 75%;
  right: 35%;
  z-index: 1000;
  min-width: 200px;
  max-width: 400px;
}
  .notification {
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    background: #023047;
    .title {
      height: auto;
      width: auto;
      padding: 10px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

