<app-header></app-header>
<div class="main-container">
    <app-sidebar></app-sidebar>
    <div class="content ms-3">
<div class="row">
    <div class="col-lg-6 col-md-6" style="padding-top: 30px; padding-left: 30px; padding-right: 30px;">
        <div class="icon-box card-basic">
            <div class="card-header profile-card-header mb-4">
                <p class="free d-flex justify-content-center align-items-center">Profile</p>
            </div>

            <div class="card-body">
                <div class="row li-row" *ngFor="let item of userData">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <i [class]="item.icon" class="icon-style"></i>
                    </div>
                    <div class="col-10 li-col marker-removed d-flex  align-items-center">
                        <li><label class="me-1">{{ item.key }}:</label>{{ item.value }}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>