<app-header ></app-header>
<div class="main-container">
    <app-sidebar></app-sidebar>
    <div class="content ms-3">
        <div class="row d-flex">
            <div class="col-lg-3 col-md-3 profile-row">
              <div class="icon-box card p-2 text-center">
                <div class="card-body">
                  <div class="profile-pic-wrapper">
                  <img [src]="userImage" class="profile-pic mb-1" width="80">
                
                  <label for="file-upload" class="custom-file-upload edit-icon">
                    <i class="fa-solid fa-pen"></i>
                  </label>
                  <input
                    id="file-upload"
                    type="file"
                    hidden
                    (change)="onChangeFile($event)"
                  
                    accept="image/*"
                  />
                </div>
                  <!-- (click)="$event.target.value = ''" -->
                  <div><strong>{{ userInfo?.name }}</strong></div>
                  <div class="text-secondary">{{ userInfo?.email }}</div>
                </div>
              </div>
            </div>
          
    <div class="col-lg-6 col-md-6  profile-row" >
        <div class="icon-box card p-2">
            <div class="card-body">
                    <div class="mt-2">
                        <i  class="icon-style fa fa-user-circle me-3"></i>  <label class="me-1">Name:</label><span class="value">{{ userInfo?.name }}</span>
                    </div>
                       <div  class="mt-2"> <i  class="icon-style fa fa-solid fa-envelope me-3"></i> <label class="me-1">Email:</label><span class="value">{{ userInfo?.email }}</span></div>
                       <div  class="mt-2"> <i  class="icon-style fa fa-user-circle me-3"></i><label class="me-1">Role:</label><span class="value">{{ userInfo?.role }}</span></div>
                       <div  class="mt-2 d-flex"><i  class="icon-style fa fa-list-check fa-solid me-3"></i> <label class="me-1">Projects:</label><span class="value">
                        <div class="tag-container">
                            <span class="custom-tag" *ngFor="let project of userInfo.project">
                              {{ project.name }}
                            </span>
                          </div>
                       </span></div> 
                    </div>
            
                </div>
    </div>
    </div>
    </div>