.update-btn:hover{
    border:1px solid #007ba5; 
    background-color: white;
    color: #007ba5; 
}
.update-btn{
    border:white;
    background-color: #007ba5;
    color: white;
}
.progress-bar{
    background-color:#007ba5;  
}
.date-row{
    border-bottom: 1px solid lightgray;
}
.bg-not-started{
background-color:rgb(187, 225, 158);
padding:5px 10px;
border-radius: 10px;
color: black;
}
.modal-body{
    font-size: 13px;
}
.fa{
    color: grey;
}