<div class="add-task-modal pb-1"><div class="modal-header"><span class="modal-title">New Project</span>
    <div class="ms-auto">
        <i class="fa fa-times  fa-lg" aria-hidden="true" (click)="closeModal()" ></i>
  </div>
  </div>
  <div class="modal-body m-2">
    <form
    [formGroup]="addprojectForm"
    (ngSubmit)="onClickSubmitProject(addprojectForm.value)"
  >
    
    <div class="row  mb-4">
        <div class="form-group col-md-4">
              <input
                placeholder="Project Title"
                formControlName="project_name"
                class="custom-input w-100"
                maxlength="100"
              />
             
              <div
                *ngIf="
                  addprojectForm?.get('project_name')?.errors?.['required']
                "
                class="alert-error mt-2"
              >
                * required.
              </div>
              </div>
              <div class="col-md-4 p-0">
                <input
                  type="text"
                  placeholder="Start Date"
                  class=" custom-form-control w-100 ps-2"
                  bsDatepicker
                  #dp="bsDatepicker"
                  [minDate]="minDate"
                  [bsConfig]="{
                    isAnimated: true,
                    dateInputFormat: 'YYYY-MM-DD',
                    containerClass: 'theme-default',
                    showWeekNumbers: false
                  }"
                  formControlName="start_date"
                  [outsideClick]="true"
                  (bsValueChange)="onValueChange($event)"
                />
                <div
                *ngIf="
                  addprojectForm.get('start_date')?.errors?.['required']
                "
                class="alert-error"
              >
                * required.
          </div>
          </div>
          <div class="col-md-4 p-0">
            <input
              type="text"
              placeholder="Due Date"
              class=" custom-form-control w-100 ps-2"
              bsDatepicker
              #dp="bsDatepicker"
              [minDate]="minDate"
              [bsConfig]="{
                isAnimated: true,
                dateInputFormat: 'YYYY-MM-DD',
                containerClass: 'theme-default',
                showWeekNumbers: false
              }"
              formControlName="due_date"
              [outsideClick]="true"
              (bsValueChange)="onValueChangeEndDate($event)"
            />
            <div
            *ngIf="
              addprojectForm.get('due_date')?.errors?.['required']
            "
            class="alert-error"
          >
            * required.
          </div>
          </div>
              </div>
              <div class="row  mb-4">
                <div class="form-group col-md-12">
                      <input
                        placeholder="Summary"
                        formControlName="shortDescription"
                        class="custom-input w-100"
                        maxlength="100"
                      />
                     
                      <div
                        *ngIf="
                          addprojectForm?.get('shortDescription')?.errors?.['required']
                        "
                        class="alert-error mt-2"
                      >
                        * required.
                      </div>
                      </div>
                      </div>
             
             
     
    
    <div class="row d-flex">
   
<div class="row mt-4 mb-2">
  <textarea formControlName="additionalInfo" rows="5"
  cols="50"[ngClass]="{
   'border-touched': addprojectForm.get('additionalInfo')?.touched,
   'border-invalid': addprojectForm.get('additionalInfo')?.invalid && addprojectForm.get('additionalInfo')?.touched
 }"
  placeholder="Additional Info..."></textarea>
</div>
  <div
 *ngIf="addprojectForm.get('additionalInfo')?.errors?.['required']
 "
 class="alert-error-one"
>
 * required.
 </div>

  
    <!-- Select Teams -->
    <label>Select Team(s)</label>
    <ng-select *ngIf="teams"
      [items]="teams"
      bindLabel="teamName"
      bindValue="id"
      [multiple]="true"
      formControlName="selectedTeams"
      (change)="onTeamsChange($event)">
    </ng-select>
  
    <!-- Select Team Members -->
    <label>Select Team Members</label>
    <ng-select
      [items]="availableMembers"
      bindLabel="name"
    
      [multiple]="true"
      formControlName="teamMembers"
      (change)="onMembersChange($event)">
    </ng-select>
  
    <!-- Select Project Manager -->
    <label>Select Project Manager</label>
    <ng-select
      [items]="selectedMembers"
      bindLabel="name"
      bindValue="userId"
      formControlName="projectManager">
    </ng-select>
<div class="row">
  <div class="col-md-12">
    <div class="mb-3" class="d-flex justify-content-end">
      <button
        type="submit"
        class="btn btn-custom-success"
        [disabled]="
          !addprojectForm.valid" 
      >
       Create
      </button>
      <button
        type="button"
        class="btn btn-custom-cancel"
        (click)= "closeModal()"
      >
        Cancel
      </button>
    </div>
    <div class="mb-3"></div>
  </div>
</div>


