.main-container {
    display: flex;
    flex-direction: row;
}

/* Sidebar styling */
app-sidebar {
    width: 200px; 
    height: 100vh;
}

.content {
    width: calc(100% - 220px); 
    padding: 10px;
    margin-top: 80px;

}
.label-style{
    color: grey;
    font-size: 11px;
}
.title-label{
    color:black;
    font-size: 13px;
    font-weight: 500;
  
}
.accordion-button{
    padding:  0px;
    font-size: 14px;
   border: 1px solid lightgrey;
   background-color:#7fd8d929!important;
}
.list-group-item{
font-size: 13px;
}
.accordion-button:after{
  display: none;
}
.card-header{
    background-color: #D3FBFB;
    font-weight: 500;
}
.action-btn{
  color: #23A3A4;
}
.bg-notstarted{
  background-color: #0b47b83d;
}
.bg-inprogress{
  background-color: #89c8de;
}


.bg-completed{
  background-color: #0080433d;
}
.bg-closed{
  background-color: #0080433d;
}
.vertical-line {
    width: 4px;
    height: 100%;
  
  }
  .status-value{
    border-radius: 4px;
  }
  .bg-blue-sideline{
    background-color: rgb(176, 147, 244);
  }
  .bg-pink{
   background-color: rgb(6,134,241,0.9);
  }
  .btn-create{
    background-color:#D3FBFB;
    font-weight: 500;
  }
  .title-text{
    font-weight: 500;
  }
  .pointer {
    cursor: pointer;
  }
 .ngx-pagination .pagination-previous,.ngx-pagination .pagination-next {
background-color: white!important;
color: black;
font-size: 12px;
  }
  .task-title{
    font-size: 13px;
  }

  
  .btn-create:hover{
    border:1px solid #007ba5; 
    background-color: white;
    color: #007ba5; 
}