<app-header></app-header>
<div class="main-container">
    <app-sidebar></app-sidebar>
    <div class="content ms-3">

<div class="row">
    <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-md-8 mb-4">
            <div class="d-flex justify-content-end mb-3">
              <button class="btn btn-create" (click)="openProjectModal()">+ Create Project</button>
            </div>
            <div class="Project-header-row mb-3 mt-5">
                <div class="row">
                  <div class="col-3 title-label">Project</div>
                 
                  <div class="col-3 title-label">start Date</div>
                  <div class="col-2 title-label">Due Date</div>
                </div>
              </div>
            <div class="accordion" id="ProjectAccordion">
                <div class="accordion-item" *ngFor="let project of projects  | paginate: { itemsPerPage: 10, currentPage: p };; let i = index">
                    
                  <h2 class="accordion-header" [id]="'heading' + i">
                    <div
                      class="accordion-button d-flex align-items-center justify-content-between"
                    >
                      <div class="d-flex w-100">
                        <!-- Side line -->
                        <div class="me-3">
                          <div class="vertical-line" ></div>
                        </div>
                  
                        <!-- Title and ID -->
                        <div class="p-1 col-3">
                          <div class="text-muted title-text">{{ project.projectName }}</div>
                          <div>
                            <span class="label-style">ID:</span>
                            <span class="label-style"><i>{{ getLast4Chars(project._id)}}</i></span>
                          </div>
                        </div>
                  
                        <!-- Project -->
                        <div class="text-muted col-3 align-content-center">
                          <small>{{project.startDate | date}}</small>
                        </div>
                  
                        <!-- Status -->
                        <div class="text-muted col-2 align-content-center">
                          <small>{{project.endDate| date}}</small>
                        </div>
                  
                       
                        <div
                          class="text-muted col-1 align-content-center"
                        >
                          <small class="action-btn pointer" (click)="openviewProject(project.id)">View</small>
                        </div>
                        <div
                        class="text-muted col-1 align-content-center"
                      >
                        <small class="action-btn pointer" (click)="deleteProject(project.id)">Delete</small>
                      </div>
                      </div>
                    </div>
                  </h2>
                </div>
                <pagination-controls *ngIf="projects?.length" style="margin-top: 20px; display: block;"  previousLabel="Prev"
                nextLabel="Next" (pageChange)="p = $event"></pagination-controls>
              </div>
             </div> 
      
          <!-- Right Section: Graph + Activities -->
          <div class="col-md-4">
            <!-- Bar Chart -->
            <div class="card mb-4">
              <div class="card-header">Project Overview</div>
              <div class="card-body">
                <div echarts [options]="donutChartOptions" class="w-100" style="height: 300px;"></div>
              </div>
            </div>
      
            <!-- Recent Activities -->
            <div class="card">
              <div class="card-header">Recent Projects</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let activity of recentActivities">
                  <strong>{{ activity.user }}</strong> {{ activity.action }} <br />
                  <small class="text-muted">{{ activity.time | date:'short' }}</small>
                </li>
              </ul>
            </div>
          </div>
      
        </div>
      </div>
      
</div>
<app-notification></app-notification>