
  .btn-custom-success {
    width: auto;
    height: auto;
    background-color:#46885a;
    color: white;
    font-size: 10px;
    margin: 5px 3px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 30%);
  }
  .btn-custom-success:hover {
    color: white;
  }
  .custom-datepicker-theme .bs-datepicker-head {
    background-color: #46885a !important;
  }
  .update-btn:hover{
    border:1px solid #007ba5; 
    background-color: white;
    color:#46885a;  
}

  .btn-custom-cancel {
    width: auto;
    height: auto;
    background-color: none;
    color: black;
    font-size: 10px;
    margin: 5px 3px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 30%);
  }
  
  .modal-header{
    background-color:#d2efdb;
    font-weight: 500;
    color: #0000008c;
  }

  