.alert-error {
    font-size: 10px;
    color: #f21707;
    padding-top: 5px;
    position: absolute;
  
  }
  .form-group,.custom-form-control{
    background-color: #fff;
    padding: 1px;
    border: .2px solid #ced4da;
    font-size: 13px;
    height: 36px;
    border-radius: 0.25em;
}
textarea{
  border: .2px solid #ced4da;
  font-size:13px;
}
textarea.border-touched{
  border: .2px solid #ced4da;
}
.custom-input{
    border: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;   /* Removes the outline that browsers apply when the element is focused */
  border: none;    /* Removes the default border when focused */
}
.ng-select.ng-select-single .ng-select-container {
    height: 24px;
    margin-top: -12%;
    margin-left: 15%;
  }
  .btn-custom-success {
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    font-size: 10px;
    margin: 5px 3px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 30%);
  }
  .btn-custom-success:hover {
    color: white;
  }
  .update-btn:hover{
    border:1px solid #007ba5; 
    background-color: white;
    color: #007ba5; 
}
.btn-custom-success{
    border:white;
    background-color: #007ba5;
    color: white;
}
  .btn-custom-cancel {
    width: auto;
    height: auto;
    background-color: none;
    color: black;
    font-size: 10px;
    margin: 5px 3px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 30%);
  }
  


  