.main-container {
    display: flex;
    flex-direction: row;
}

/* Sidebar styling */
app-sidebar {
    width: 200px; 
    height: 100vh;
}

.content {
    width: calc(100% - 220px); 
    padding: 10px;
    margin-top: 80px;

}
.card{
    padding: 10px;
}
label{
    color: grey;
}
.kanban-container{
    font-size: 13px;
}
.border-bottom-blue {
   border-bottom:10px solid  rgb(247 185 4 / 94%);
  }
  .border-bottom-green {
    border-bottom:10px solid  rgb(237 41 204);
   }
   .border-bottom-orange {
    border-bottom:10px solid   rgb(178 183 237);
      }
      .border-bottom-red {
        border-bottom:10px solid rgb(86 241 86);
      }


