.modal-header,.btn-sbmt{
    background-color: #0a356b;
    color: white;
}
.form-group {
    position: relative;
    label {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: black;
      font-weight: 700;
    }
    input {
      font-family: "Poppins", sans-serif;
      font-size: 0.7rem;
    }
    
    }
    .signup-btn{
  text-decoration: underline;
  cursor: pointer;
  font-size: 11px;
  color: blue;
    }
    .note{
      font-size: 11px;
     }
     .text-danger{
      font-size: 11px;
     }
  
  